<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Form</title>
</head>
<body>
    
    <div class="container">
        <h1>{% if form.instance.pk %}Edit Post{% else %}Create Post{% endif %}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
            {% comment %} <a href="{% url 'post_list' %}">Cancel</a> {% endcomment %}
        </form>
    </div>
</body>
</html>